<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemRentadoMapper">
    
       <select parameterType="map" id="consultarItemsRentados" resultMap="ItemRentado">
    select
 
    ir.id as IR_id ,
    ir.CLIENTES_documento,
    ir.ITEMS_id,
    ir.fechainiciorenta,        
    ir.fechafinrenta,
    i.id as I_id ,
    i.nombre as I_nombre ,
    i.descripcion ,
    i.fechalanzamiento ,
    i.tarifaxdia ,
    i.formatorenta ,
    i.genero 
        
    FROM 
    VI_ITEMRENTADO as ir
    LEFT JOIN VI_ITEMS as i  on i.id=ir.ITEMS_id 
    </select>
    
    <select parameterType="map" id="consultarItemRentado" resultMap="ItemRentado">
    select
 
    ir.id as IR_id ,
    ir.CLIENTES_documento,
    ir.ITEMS_id,
    ir.fechainiciorenta,        
    ir.fechafinrenta,
    i.id as I_id ,
    i.nombre as I_nombre ,
    i.descripcion ,
    i.fechalanzamiento ,
    i.tarifaxdia ,
    i.formatorenta ,
    i.genero 
        
    FROM 
    VI_ITEMRENTADO as ir
    LEFT JOIN VI_ITEMS as i  on i.id=ir.ITEMS_id 
    WHERE ir.id=#{idi} 
    </select>
    
    
    <resultMap type='ItemRentado' id='ItemRentado'>
        <id property='id' column='IR_id'/>
        <result property= 'fechainiciorenta' column='fechainiciorenta'/>  
        <result property='fechafinrenta' column='fechafinrenta'/>   
        <association property='item' javaType='Item' resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper.Item'></association>
    </resultMap> 
       
</mapper>